{% extends "base.html.twig" %}

{% block title %}Ajouter un article{% endblock %}

{% block content %}

<h1 class="text-center mt-5">Ajouter un nouvel article</h1>
<div class="contentform">
     
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <form class="wrapp" method="post" role="form" action="?controller=post&action=insert" enctype="multipart/form-data">
            <div class="form-group">
              <label class="label-form">Titre</label>
              <input type="text" class="form-control" name="title" required="required"/>
            </div>
            <div class="row">
              <div class= "col-md-6">
                <div class="form-group">
                    <input type="file" class="bug_cls" name="image" required="required" placeholder="Upload image"/>
                </div>
              </div>
              <div class= "col-md-6">
                <div class="form-group">
                  <select type="text" class="form-control" name="category" required="required">
                    <option value="">Catégorie</option>
                    {% for c in category %}
                    <option value="{{ c.id }}">{{ c.title }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="label-form">Chapô</label>
                <textarea class="form-control headline-text mb-4" name="headline" required="required"></textarea>
              </div>
            <div class="form-group">
              <label class="label-form">Contenu</label>
              <textarea class="form-control" required="required" name="content"></textarea>
            </div>
            <div class="form-group">
               <input type="submit" value="Ajouter" class="submit-form mt-4" />
            </div>
            <input type="hidden" name="id" value="{{ session.id }}">
          </form>
        </div>
      </div>
    </div>
  
</div>
{% endblock %}