{% extends "base.html.twig" %}

{% block title %}Ajouter un article{% endblock %}

{% block content %}
<div class="group">
    <input type="file"
       id="avatar" name="avatar"
       accept="image/png, image/jpeg">
</div>
<div class="group">
    <input type="text" name="title" value="<?= $article->getTitle(); ?>" placeholder="Titre" class="input-title" required/>
</div>
<div class="group">
    <textarea type="text" name="content" value="<?= $article->getContent(); ?>" placeholder="Contenu" class="input-content"required><?= $article->getContent(); ?></textarea>
</div>
<input type="hidden" name="id" value="<?= $_GET['id']; ?>">
<!-- Button -->
<button type="submit" class="btn btn-fill btn-co mt-4">Modifier</button>
{% endblock %}