{% extends "base.html.twig" %}

{% block title %}Laurie Ferry - Développeuse web{% endblock %}

{% block content %}
<!-- hero section -->
<div class="container mb-5" id="hero">
    <div class="row justify-content-end">
        <div class="col-lg-6 hero-img-container">
            <div class="hero-img">
                <img src="./public/img/laptop.jpg">
            </div>
        </div>	  		

        <div class="col-lg-9">
            <div class="hero-title">
                <h1>Ensemble, construisons le site qui vous ressemble</h1>
            </div>

        </div>

        <div class="col-lg-6">
            <div class="author">
                <div class="author-img"><img src="./public/img/author-img.jpg"></div>
                <div class="author-meta">
                    <span class="author-name">Laurie Ferry</span>
                    <span class="author-tag">Développeuse PHP/Symfony</span>
                </div>
                <a class="author-cv btn ml-5 mt-3" href="./public/img/CV.pdf">Curriculum Vitae</a>
                <div>
                    <ul class="nav justify-content-start mt-5">
                        <li class="nav-item">
                            <a class="btn author-social" href="https://www.facebook.com/laurie.ferry"><i class="fab fa-facebook-f"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="btn author-social" href="https://github.com/Joypride"><i class="fab fa-github"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="btn author-social" href="https://www.linkedin.com/in/laurie-ferry-55803167/"><i class="fab fa-linkedin-in"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="btn author-social" href="https://www.instagram.com/j0ypride/?hl=fr"><i class="fab fa-instagram"></i></a>
                        </li>
                    </ul>
                </div>	
            </div>
        </div>
    </div>
</div>

</div>
<!-- hero ends -->
{% endblock %}