{% extends "base.html.twig" %}

{% block title %}Inscription{% endblock %}

{% block content %}
<!-- hero section -->
<div class="container mb-5" id="hero">
    <div class="row justify-content-end">
        <div class="col-lg-6 hero-img-container">
            <div class="hero-img">
                <img src="./public/img/register.jpg">
            </div>
        </div>	  		

        <div class="col-lg-9">
            <div class="hero-title">
                <h1>Inscription</h1>
            </div>

        </div>

        <div class="col-lg-6">
            <p>Votre demande d'inscription a bien été prise en compte.</p>
            <p class="font-weight-bold">Et maintenant ?</p>
            <p>Un mail vous sera envoyé dès qu'un administrateur aura validé votre inscription, pensez à vérifier votre messagerie !</p>
            <p>Merci, à bientôt !</p>
        </div>
    </div>
</div>

</div>
<!-- hero ends -->
{% endblock %}
