{% extends "base.html.twig" %}

{% block title %}Mes informations{% endblock %}

{% block content %}
<div class="container mb-5" id="hero">
    <div class="row justify-content-end">
        <div class="col-lg-6 hero-img-container">
            <div class="hero-img">
                <img src="./public/img/informations.jpg">
            </div>
        </div>
        
        <div class="col-lg-9">
            <div class="hero-title">
                <h1>Mes informations</h1>
            </div>
        </div>

        <div class="col-lg-6">
            <form method="POST" action="?controller=user&action=editInfo">


                <!-- Upload image -->
                <div class="row">
                    <div class="offset-md-3">
                        <label class="cabinet center-block">
                            <figure class="rounded-circle">
                                <img src="./public/img/profil.jpg" class="gambar img-fluid rounded-circle" id="item-img-output" />
                                <figcaption><i class="fa fa-camera"></i></figcaption>
                            </figure>
                            <input type="file" class="item-img file center-block" value="{{ info.photo }}" name="image" />
                        </label>
                    </div>
                </div>

                <!-- Modal upload image -->
                <div class="modal fade" id="cropImagePop" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div id="upload-demo" class="center-block text-center mx-auto"></div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                <button type="button" id="cropImageBtn" class="btn btn-primary">Sauvegarder</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of Modal upload image -->

                <div class="form-group register-form d-flex">
                    <input type="text" class="form-control register-form mr-2" id="name" value="{{ info.name }}" name="name" required>
                    <input type="text" class="form-control register-form" id="surname" value="{{ info.surname }}" name="surname" required>
                  </div>
                <div class="form-group">
                  <input type="email" class="form-control register-form" id="email" value="{{ info.email }}" name="email" required>
                </div>
                <button type="submit" id="register-btn" class="btn deep-purple btn-block ">Modifier</button>          
            </form>
        </div>
    </div>
</div>

{% endblock %}