{% extends "base.html.twig" %}

{% block title %}Mes informations{% endblock %}

{% block content %}
<div class="container mb-5" id="hero">
    <div class="row justify-content-end">
        <div class="col-lg-6 hero-img-container">
            <div class="hero-img">
                <img src="./public/img/informations.jpg">
            </div>
        </div>
        
        <div class="col-lg-9">
            <div class="hero-title">
                <h1>Mes informations</h1>
            </div>
        </div>

        <div class="col-lg-6">
            <form method="POST" action="?controller=user&action=editInfo" enctype="multipart/form-data">


                <!-- Upload image -->
                <div class="row">
                    <div class="offset-md-3 media-ma">
                        <label class="cabinet center-block">
                            <figure class="rounded-circle">
                                <img src="{{ session.image }}" class="gambar img-fluid rounded-circle" id="output" />
                                <figcaption><i class="fa fa-camera"></i></figcaption>
                            </figure>
                            <input type="file" onchange="loadFile(event)" class="item-img file center-block" name="image" />
                        </label>
                    </div>
                </div>
                <!-- End Upload image -->

                <div class="form-group media-mb register-form d-flex">
                    <input type="text" class="form-control register-form mr-2" id="name" value="{{ info.name }}" name="name" required>
                    <input type="text" class="form-control register-form" id="surname" value="{{ info.surname }}" name="surname" required>
                  </div>
                <div class="form-group">
                  <input type="email" class="form-control register-form" id="email" value="{{ info.email }}" name="email" required>
                </div>
                <button type="submit" id="register-btn" class="btn deep-purple btn-block ">Modifier</button>          
            </form>
            <a href="?controller=user&action=newPassword" class="not-member">Changer mon mot de passe</a>
        </div>
    </div>
</div>

{% endblock %}
